@page "{id}"
@model Maletero.Pages.Admin.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Manage";
    Layout = "_Layout";
}
<h2>Inventory</h2>

@using Maletero.Models.Interfaces

@inject IInventory ProductManagementService

@{
    Layout = "_Layout";
}

@{
    //posts is equal to list of posts returned by the service
    var products = await ProductManagementService.GetAll();
}
<h4><a asp-page="/Admin/InventoryManagement">Add New Product</a></h4>
<div class="post-container">
    @foreach (var item in products)
    {
        <div class="post-item">
            <img src="@item.Image">
            <p>ID: @item.ID</p>
            <p>SKU: @item.SKU</p>
            <p>Name: @item.Name</p>
            <p>Price: @item.Price</p>
            <form><button asp-page="/Admin/InventoryManagement" asp-route-id="@item.ID">Edit</button></form>
        </div>
    }
</div>
<h2>Orders</h2>

